{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/juggling-trick">Back</a>

      <form class="form" action="/juggling-parties-answer" method="post">

        <div class="form-group">
          <fieldset class="inline">

            <legend>
              <h1 class="heading-medium">
                Do you juggle at parties?
              </h1>
            </legend>

            <div class="multiple-choice">
              <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
              <label for="radio-inline-1">Yes</label>
            </div>
            <div class="multiple-choice">
              <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
              <label for="radio-inline-2">No</label>
            </div>

          </fieldset>
</div>
        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
