{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/juggling-balls">Back</a>

      <h1 class="heading-large">
        You cannot apply for a juggling licence
      </h1>

      <p>You must apply for a learner permit.</p>

      <p>Check <a href="https://www.nationalcircus.org.uk/courses">courses at the National Centre for Circus Arts</a> to apply for a learner permit.</p>

      <p>Apply for a juggling licence once you can juggle 3 or more balls.</p>

    </div>
  </div>
</main>

{% endblock %}
